$brand-primary: #000066;
$grid-gutter-width: 20px;
$container-tablet: (560px + $grid-gutter-width) !default;
$container-desktop: (560px + $grid-gutter-width) !default;
$container-large-desktop: (560px + $grid-gutter-width) !default;
$font-size-base: 18px;
$font-family-serif: "'Droid Serif', serif";
$font-family-sans-serif: "'Droid Sans', sans-serif";

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resets";
@import "mixins";
@import "custom";
